{% extends 'layout.html'%}

{% block content %}
<div class="container">
    <div class="edit-entry">
        <h2>Edit Entry</h2>
        <form method="POST" action="{{ url_for('save_edit', Id_position = editing.Id)}}">
            <label for="title"> Title</label>
            <input id="title" type="text" name="Title" value="{{ editing.Title }}"><br>

            <label for="date">Date</label>
            <input id="date" type="date" name="Date" value="{{ editing.Date }}"><br>

            <label for="time-spent"> Time Spent</label>
            <input id="time-spent" type="text" name="TimeSpent" value="{{ editing.TimeSpent }}"><br>

            <label for="what-i-learned">What I Learned</label>
            <textarea id="what-i-learned" rows="5" name="WhatILearned">{{ editing.WhatILeanred }}</textarea>

            <label for="resources-to-remember">Resources to Remember</label>
            <textarea id="resources-to-remember" rows="5" name="Resources" >{{ editing.Resources }}</textarea>

            <input type="submit" value="Publish Entry" class="button">
            <a href="{{ url_for('index')}}" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}